<div id="confirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-body align-text-center" id="confirm-modal-body"></div>
        <div class="modal-footer space-between">
            <button type="button" class="btn btn-grdnt-login" data-dismiss="modal">No</button>
            <a class="btn btn-grdnt-login" type="button" id="confirmed-button">Yes</a>
        </div>
        </div>

    </div>
</div>