<div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Error</h2>
        </div>
        <div class="modal-body align-text-center" id="alert-modal-body"></div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-grdnt-login" data-dismiss="modal">Close</button>
        </div>
        </div>

    </div>
</div>